@{
    ViewData["Title"] = "Home Page";
}






<main dir="rtl">
    <section class="slideshow-container">

        <!-- <div class="mySlides fade">
          <div class="numbertext">1 / 4</div>
          <img alt="This is image"  class="continer__image--slider" src="./Logo/images.jpg" >
          <div class="text">Caption Text</div>
        </div>-->
        <!-- <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a> -->


    </section>
    <br>

    <div class="dot--continer" style="text-align:center">
        <!-- <span class="dot" onclick="currentSlide(1)"></span> -->

    </div>


    <article class="info">

        <h3 class="title">درباره ما</h3>
        <p class="para">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

        </article>




    
    </main>


    
@section About{
    <section class="about">
        <div class="trustful__img">
            <a href="#">
                <img class="img--trust" src="./js/Image/trust.jpg" alt="This is image">
            </a>
        </div>
        <p class="about--paragraf">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان .</p>
    </section>
}
 


    @section Scripts {
        <partial name="_HomeScripts">
    }
