.status-title{
    /* margin: auto; */
    align-self: center;
    font-weight: bold;
    font-size: xx-large;
}
.continer{
    margin-top: 3%;
    margin-right: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
ul{
    list-style: none;
}
.status-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
      align-items: center;
}
.list-item{
    width: 25%;
    font-size: larger;
    font-weight: bold;
    margin: 83px 100px 0 0;
    text-overflow: clip;
}
.skils{
    display:contents;
    line-height: 25px;
} 
.skils li
{
    display: contents;
   
    
}
.skils span{
    margin-left: 10px;
}
 .list-item p{
    display: inline;
 }
.info{
    justify-self: center;
 }
